@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    background-color: #101010;
    font-family: "Poppins", serif;
    font-size: 2.5vh;
}

img {
    margin: 2.5vh;
    height: 15vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5vh;
}

#pipeline {
    width: 80vw;
    min-height: 40vh;
    border-radius: 15px;
    background-color: azure;
    padding: 5vh;
}

form div, label, select, option, button, h1{
    background-color: azure;
}

.hidden {
    display: none;
}

#pesqInit input {
    margin-left: 15px;
    margin-bottom: 20px;
}

#divPesqGravacao input {
    margin-left: 15px;
    margin-bottom: 20px;
}

#divPesqCurso select, label {
    margin-left: 15px;
    margin-bottom: 20px;
}

#divPesqNome select, label {
    margin-left: 15px;
    margin-bottom: 20px;
}

#divPesqBU input {
    margin-left: 15px;
    margin-bottom: 20px;
}